<div class="row">
  <div class="col-sm">
    <h6>{{job.task.name}}</h6>
  </div>
  <div class="col-sm" *ngIf="getSensorFromJob(job) as sensor">
    Set <b>{{sensor.name}}</b> to <b>{{job.task.targetSensorValue}}</b>
  </div>
  <div class='col-sm'>
    <button (click)="clickPerformScheduledJob(job)" class="btn btn-secondary" *ngIf="job.status != JobStatus.Running">Perform</button>
    <button *ngIf="job.status == JobStatus.Running" (click)="clickStopScheduledJob(job)" class="btn btn-secondary">Stop</button>
  </div>
</div>