<div class="card">
  <div class="card-body">
    <h5 class="card-title">Tasks</h5>
    <p class="card-text">
      All tasks created on this device.
    </p>
    <ng-container *ngIf="device.tasks && device.tasks.length > 0 else noTasks">
      <div class="generic-list">
        <div *ngFor="let task of device.tasks" class="generic-list-item">
          <div class="row">
            <div class="col">
              Name: {{task.name}} TaskId: {{task.id}} Task Type: {{(task.taskTypeId)}}
              <div class="time">
              </div>
              <div class="operations col">

                <button class="float-right btn btn-secondary mr-2"
                  (click)="$event.stopPropagation();clickPerformTask(task)" [disabled]="managingSchedules">
                  Perform
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
    <ng-template #noTasks>
      <p class="p-2">This device does not have any tasks</p>
    </ng-template>

  </div>
</div>