.vs/*
AquariumApi*/obj/*
AquariumApi*/bin/*
packages/*
AquariumApi/photos/*
AquariumApi.DeviceApi/J:/.DS_Store
AquariumApi.DeviceApi/J:/Joseph/.DS_Store
AquariumApi.DeviceApi/J:/Joseph/Desktop/.DS_Store
AquariumApi.DeviceApi/J:/Joseph/Desktop/Aquarium/.DS_Store
AquariumApi.DeviceApi/J:/Joseph/Desktop/Aquarium/dist/.DS_Store
AquariumApi.DeviceApi/J:/Joseph/Desktop/Aquarium/dist/rasbian/.DS_Store
obj/*
AquariumApi/config.json
AquariumApi/config.json
AquariumApi.DeviceApi/Properties/PublishProfiles/*
AquariumApi.DeviceApi/wwwroot/*
AquariumApi.DeviceApi/ClientApp/node_modules/*
AquariumApi.DeviceApi/ClientApp/dist/*
AquariumApi.DeviceApi/ClientApp/.angular/*
AquariumApi.DeviceApi/ClientApp/wwwroot/*
AquariumApi.DeviceApi/aquarium_schedules.json
AquariumApi.DeviceApi/login.json
AquariumApi.DeviceApi/Properties/PublishProfiles/*
AquariumApi/config.json
AquariumApi/config.json
AquariumApi.DeviceApi/config.json
AquariumApi.DeviceApi/configured_device.json
