<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File"
            name="allfile"
            archiveNumbering="Rolling"
            archiveAboveSize="10000000"
            maxArchiveFiles="30"
            concurrentWrites="true"
            fileName="c:\AquariumApi\Logs\AquariumApi.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
</nlog>