<!--The content below is only a placeholder and can be replaced.-->
<nav-bar [loginInformation]="service.loginInformation"></nav-bar>

<div class="container" *ngIf="(!loading)">

  <ng-container *ngIf="!service.loginInformation else route">
    <login-container></login-container>
  </ng-container>
  <ng-template #route>
    <router-outlet></router-outlet>
  </ng-template>
</div>
<ng-container *ngIf="loading">
  <div class="row justify-content-center p-5">

    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-container>