<ng-container *ngIf="deviceConnection$ | async as deviceState">
  <device-nav-bar [deviceInformation]="deviceState.deviceConnection"></device-nav-bar>
  <div class="container" *ngIf="isConnected(deviceState) else notConnected ">
    <div class="row mt-2">
      <div class="col">
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
  <ng-template #notConnected>
    <div *ngIf="isConnecting(deviceState) else hasError">
      <div class="row justify-content-center p-5">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
    <ng-template #hasError>
      <device-unavailable-container></device-unavailable-container>
    </ng-template>
  </ng-template>
</ng-container>