<div class="row">
  <div class="col">
    <div class="card" *ngIf="loginInformation.account as account">
      <div class="card-body">
        <h3>{{account.username}}</h3>
        <span>Email: {{account.email}}</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" *ngIf="loginInformation.aquarium as aquarium">
      <div class="card-body">
        <h3>{{aquarium.name}}</h3>
        <span>Size: {{aquarium.gallons}} gallons</span>
      </div>
    </div>
  </div>
</div>
<h4>Schedules</h4>
<div class="row m-2" *ngFor="let sa of loginInformation.aquarium.device.scheduleAssignments">
  <div class="card w-100" *ngIf="sa.schedule as s">
    <div class="card-body" >
      {{s.name}}
    </div>
  </div>
</div>