<div class="card m-2" *ngIf="device">

  <div class="card-body">
    <div class="card-title">
      <h3>Sensors</h3>
    </div>
    <p class="text-muted">
      All of the currently equipped device sensors
    </p>
    <div *ngIf="loginInformation">
      <div *ngFor="let sensor of loginInformation.sensors">
        <div class='mb-1'>
          <div class="row">
            <div class="col-sm">
              <h4>{{sensor.name}}</h4>
              <div class="text-muted">Polarity: {{sensor.polarity ? "Write":"Read"}}</div>
            </div>
            <div class='col-sm'>
              <button (click)="clickTestDeviceSensor(sensor)" class="btn btn-secondary">Test Sensor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>