.aquarium-list-button:focus,.aquarium-list-button .active {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
    color: #007bff;
}