<div class="row">
    <div class="col">
        <h4>Device Schedules</h4>
        <device-schedule-list [configuredDevice]="(configuredDevice$ | async)"></device-schedule-list>
        <device-schedule-upsert-button>New Schedule...</device-schedule-upsert-button>

    </div>
    <div class="col">
        <h4>Device Tasks</h4>
        <device-task-list [configuredDevice]="(configuredDevice$ | async)"></device-task-list>
        <device-task-upsert-button>New Task...</device-task-upsert-button>
    </div>
</div>