nav.navbar {
  .active .nav-link
  {
    color: #007bff;
    border-bottom:3px solid #007bff;
  }
  .nav-link {
    border-bottom:3px solid transparent;
  }
  a {
    cursor: pointer;
  }
  border-bottom:1px solid rgba(89, 133, 180, 0.356);
}