<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="configuredDevice$ | async as configuredDevice">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" >Aquarium Device</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link active" aria-current="page">Overview</a>
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="/sensors">
          <a class="nav-link active" aria-current="page">Sensors</a>
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="/schedule">
          <a class="nav-link active" aria-current="page">Schedule</a>
        </li>
      </ul>
      <form class="d-flex">
        <div >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="collapse"
                data-bs-toggle="dropdown" role="button" data-toggle="test" aria-haspopup="true" aria-expanded="false">
                {{configuredDevice.aquarium != null ? configuredDevice.aquarium.name : 'Settings'}}
              </a>
              <div class="dropdown-menu" aria-labelledby="test">
                <a class="dropdown-item" routerLinkActive="active" routerLink="/logs">View Logs</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/settings">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" *ngIf="configuredDevice.aquarium">Renew</a>
                <device-login-button *ngIf="!configuredDevice.aquarium"></device-login-button>
                <a class="dropdown-item" (click)="clickLogout()" *ngIf="configuredDevice.aquarium">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>