<div class="row">
  <div class="col">
    <div class="card" *ngIf="loginInformation.account as account">
      <div class="card-body">
        <h3>{{account.username}}</h3>
        <span>Email: {{account.email}}</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" *ngIf="loginInformation.aquarium as aquarium">
      <div class="card-body">
        <h3>{{aquarium.name}}</h3>
        <span>Size: {{aquarium.gallons}} gallons</span>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg">
    <h4>Scheduled Jobs</h4>
    <device-scheduled-jobs></device-scheduled-jobs>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <h4>Sensors</h4>
    <device-sensors [loginInformation]="loginInformation"></device-sensors>
  </div>
  <div class="col-md" *ngIf="loginInformation.aquarium as aquarium">
    <h4>Tasks</h4>
    <device-task-card [device]="aquarium.device"></device-task-card>
  </div>
  <div class="col-md">
    <h4>Schedules</h4>
    <schedule-information [loginInformation]="loginInformation"></schedule-information>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <h4>Exceptions</h4>
    <exception-list></exception-list>
  </div>
</div>