<h1 mat-dialog-title *ngIf="!newDeviceSensor.id">Add Device Sensor</h1>
<h1 mat-dialog-title *ngIf="newDeviceSensor.id">Edit Device Sensor</h1>
<div mat-dialog-content>
	<div class="row">
		<div class="col">
			<p class="text-muted">Device sensors can be used to read values from your aquarium, and trigger automated
				processes. Examples may include pumps, float switches, etc.</p>
		</div>
	</div>
	<ng-container *ngIf="!loading else loadingTemplate">
		<div *ngIf="error" class="alert alert-danger">
			<p class="error">{{error}}</p>
		</div>
		<ng-container *ngIf="isBoardSupported() else unsupported">
			<div class="row">
				<div class="col-sm">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">Name</span>
						</div>
						<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
							[(ngModel)]="newDeviceSensor.name">
					</div>
				</div>
				<div class="col-sm">
					<device-generic-select label="Sensor Type" [deviceSelectType]="'DeviceSensorTypes'"
						[(inputModel)]="newDeviceSensor.type">
					</device-generic-select>
				</div>

			</div>
			<div class="row">
				<div class="col">
					<h5>Sensor Location</h5>
					<mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="onboardSensor">
						<mat-radio-button [value]="true" class="ml-2">
							This device
						</mat-radio-button>
						<mat-radio-button [value]="false" class="ml-2">
							Wireless device
						</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="col">
					<h5>Sensor Polarity</h5>
					<mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="newDeviceSensor.polarity">
						<mat-radio-button [value]="DeviceSensorPolarity.Input" class="ml-2">
							Read
						</mat-radio-button>
						<mat-radio-button [value]="DeviceSensorPolarity.Write" class="ml-2">
							Write
						</mat-radio-button>

					</mat-radio-group>
					<span *ngIf="newDeviceSensor.polarity == DeviceSensorPolarity.Write">
						<mat-slide-toggle [(ngModel)]="newDeviceSensor.alwaysOn">Normally
							On</mat-slide-toggle>
					</span>
				</div>
			</div>

			<ng-container *ngIf="onboardSensor">
				<div class="row">
					<div class="col">
						<p class="text-muted">Select a pin location for the
							sensor.
							Based
							on
							your
							selected
							RaspberryPi configuration, this is your
							Gpio arrangement. Your device model is current set to
							<b>{{configuredDevice.settings.boardType}}</b>.
						</p>
					</div>
				</div>
				<div class="container mb-2">
					<device-sensor-gpio-board selectable [configuredDevice]="configuredDevice"
						[(inputModel)]="newDeviceSensor.pin"></device-sensor-gpio-board>
				</div>
			</ng-container>
			<ng-container *ngIf="!onboardSensor">
				<ng-container *ngIf="configuredDevice.wirelessDevices.length > 0 else noDevices">
					<device-wireless-device-list [configuredDevice]="configuredDevice" small selectable
						[(inputModel)]="sensorWirelessDevice"
						[(sensorInputModel)]="newDeviceSensor"></device-wireless-device-list>
				</ng-container>
				<ng-template #noDevices>
					No wireless devices connected.
				</ng-template>
			</ng-container>
		</ng-container>
		<ng-template #unsupported>
			<div class="container alert alert-danger mt-2">
				Unfortunately this device type is not supported. Please go to your aquarium device settings page to
				select a
				supported device.
				<br>
				<br>
				Current device type: {{configuredDevice.settings.boardType}}
			</div>
			<button class="m-2 btn btn-danger" mat-dialog-close>Close</button>
		</ng-template>
	</ng-container>

	<ng-template #loadingTemplate>
		<div class="shadow p-3 mb-5 bg-white rounded d-flex flex-row text-center">
			<table style="width:100%;height:100%;">
				<tr>
					<td>
						<mat-progress-spinner class="mr-auto ml-auto align-middle" color="warn" mode="indeterminate">
						</mat-progress-spinner>

					</td>
				</tr>
			</table>
		</div>
	</ng-template>
</div>
<div mat-dialog-actions>
	<button *ngIf="newDeviceSensor.id != null" (click)="clickRemoveSensor()" class="m-2 btn btn-danger"
		[disabled]="disabled">
		<fa-icon [icon]="faTrash"></fa-icon> Delete
	</button>
	<button class="m-2 btn btn-secondary" mat-dialog-close>Cancel</button>
	<button *ngIf="newDeviceSensor.id" class="m-2 btn btn-success" (click)="clickEditSensor()">Save</button>
	<button *ngIf="!newDeviceSensor.id" class="m-2 btn btn-success" (click)="clickEditSensor()">{{newDeviceSensor.id
		== null ? "Create":"Update"}}</button>
</div>