<div class="row">
    <h1>Aquarium Device</h1>
    <p class="text-muted">Hello, this is the aquarium device hardware set up. You must log in to your Aquarium
        account
        and
        select an aquarium to be monitored.</p>
</div>

<div class="card">
    <div class="card-body">
        <ng-container *ngIf="currentStep == 4 else notDone">
            <ng-container *ngIf="loading">
                <div class="row justify-content-center p-5">

                    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #notDone>
            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{error}}
            </div>
            <login-form *ngIf="currentStep == 1" [disabled]="loading"></login-form>
            <ng-container *ngIf="currentStep == 2">
                <p>Welcome, {{aquariumUser.username}}!</p>
                <aquarium-form [aquariums]="aquariumUser.aquariums" [disabled]="loading"></aquarium-form>
            </ng-container>
            <ng-container *ngIf="currentStep == 3">
                <h3>Device Exists</h3>
                <p>It seems like this aquarium already has a device monitoring it. Is that this device?</p>
            </ng-container>


            <button *ngIf="currentStep > 1" [disabled]="loading" class="btn btn-danger"
                (click)="clickBack()">Back</button>
            <button *ngIf="currentStep == 1" [disabled]="loading" class="btn btn-success"
                (click)="clickSubmitStep1()">Continue</button>
            <button *ngIf="currentStep == 2" [disabled]="loading" class="btn btn-success"
                (click)="clickSubmitStep2()">Select Aquarium</button>
            <button *ngIf="currentStep == 3" [disabled]="loading" class="btn btn-success"
                (click)="clickSubmitStep2(true)">Replace Device</button>
        </ng-template>

    </div>
</div>