@import '../node_modules/bootstrap/scss/bootstrap.scss'; //this can't go in angular.json because of toastr
// then import toastr scss
@import "../node_modules/ngx-toastr/toastr-bs5-alert.scss";

body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.toast-container {
    margin-top:60px;
}
.generic-list {
    min-height: 400px;
    max-height: 400px;
    border: 1px solid #dcdcdc;
    background-color: #e6f3f5;
    overflow: auto;


    .generic-list-item {
        cursor: pointer;
        padding: 0.75rem 1.25rem;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

    .generic-list-item:hover {
        background-color: rgba(150, 150, 150, 0.1);
    }
}

.generic-list.mini {
    min-height: 100px;
}