<div *ngIf="(deviceInformation$ | async).configuredDevice as configuredDevice">
  <div class="row">
    <div class="col col-sm-4">
      <h4>Aquarium Monitor</h4>
      <device-aquarium-overview-card [aquarium]="configuredDevice.aquarium" [account]="account$ | async"
        *ngIf="configuredDevice.aquarium">
      </device-aquarium-overview-card>
      <h4>Sensors</h4>
      <device-sensor-list [configuredDevice]="configuredDevice" hideEdit small></device-sensor-list>
      <h4>Wireless Devices</h4>
      <device-wireless-device-list [configuredDevice]="configuredDevice"></device-wireless-device-list>
    </div>
    <div class="col">
      <h4>Schedule Status</h4>
      <device-schedule-status [deviceInformation]="deviceInformation$ | async"></device-schedule-status>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Exceptions</h4>
      <device-exception-list></device-exception-list>
    </div>
  </div>

</div>