<div class="row m-2" *ngFor="let sa of loginInformation.aquarium.device.scheduleAssignments">
  <div class="card w-100" *ngIf="sa.schedule as s">
    <div class="card-body" >
      {{s.name}}
    </div>
  </div>
</div>


<div class="card m-2">

  <div class="card-body">
    <div class="card-title">
      <h3>Schedule Status</h3>
    </div>
    <p class="text-muted">
      This information pertains to what the Pi is currently running. Schedules running on the Pi and within the
      application may become out of sync.
    </p>
    <div *ngIf="scheduleState">
      <h6>Status: {{scheduleState.running ? "Running":"Stopped"}}</h6>
      <h6>Total Tasks: {{scheduleState.taskCount}}</h6>
      <ng-container *ngIf="scheduleState.nextTask as nextTask">
        <h6>Next Task ETA: {{readableDuration(nextTask.eta)}}</h6>
        <h6>Completed Tasks: {{nextTask.index-1}}</h6>
        <h6>TaskID: {{nextTask.task.taskId}}</h6>
        <h6>Schedule: {{nextTask.task.schedule.name}}</h6>
        <button class="btn btn-secondary" (click)="clickPerformTask(nextTask.task)" [disabled]="performingTask">Perform Task</button>
      </ng-container>
      <h5>Schedules on Device</h5>
      <table class="w-100">
        <th>
          Schedule Name
        </th>
        <th>
          Service Host
        </th>
        <tr *ngFor="let schedule of scheduleState.schedules">
          <td>{{schedule.name}}</td>
          <td>{{schedule.host}}</td>
        </tr>
      </table>
    </div>
    <div class="text-center m-0 d-flex flex-column justify-content-center">
      <div>
        <button class="btn btn-primary" (click)="clickGetDeviceScheduleStatus()">Get Schedule Status</button>
      </div>
    </div>
  </div>
</div>